/*styling div main container*/
div#divmaincontainer{
  width:80%; 
  margin:auto;
  /*border:1px solid turquoise;*/
}

/*styling the header of the site */

header#siteheader{
  width:100%;
  height:150px;
  background-image:linear-gradient(greenyellow, cyan, mintgreen);
  border:1px solid navyblue;
  border-radius:10px 10px 0 0;
}
