/*styling div main container*/
div#divmaincontainer{
  width:80%; 
  margin:auto;
  /*border:1px solid turquoise;*/
}

/*styling the header of the site */

hearder#siteheader{
  width:100%;
  height:150px;
  background-image:linear-gradient(emeraldorange,brown,mintgreen)
  border:1px solid navyblue
}
