/*styling div main container*/
div#divmaincontainer{
  width:80%; 
  margin:auto;
  /*border:1px solid turquoise;*/
}

/*styling the header of the site */

header#siteheader{
  width:100%;
  height:150px;
  background-image:linear-gradient(greenyellow, cyan, teal);
  border:1px solid darkgrey;
  border-radius:10px 10px 0 0;
  padding:20px;
}

/*styling site title*/
h1#sitetitle{
  font-family:Arial;
  font-size:32px;
  color:orange; 
  text-align:center;
}

/*styling site motto*/
span#sitemotto{
  font-size:18px;
  font-family:tahoma;
  font-style:italic;
  color:aqua;
  text-align:center;
}

/*site navigation*/
nav#sitenav{
  width:100%;
  height:30px;
  background-image:radial-gradient(peach,red);
}

/*navigation elements*/
ul#ulnav>li{
  display: inline;
  list-style-type:none;
}

